<table width="100%" style="padding: 10px;">
    <tbody>
      <tr>
        <td>
          <table width="100%" style="border-bottom: 1px solid #EEE; text-align: center; background: #EEE;">
            <tbody>
              <tr>
                <td>
                  <img src="https://akupaydisbursement.nyc3.digitaloceanspaces.com/assets/logo.png" width="100">
                </td> 
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <td>
                Hello, <%= user.first_name %> <%= user.last_name %>
              </td>     
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td>
                You are receiving this email because we received a password reset request from your account.
              </td>     
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
                <td>
                  <a style="" href="<%= url %>">Click Here</a> to reset your password or copy the link below and paste into a browser if the button does not works.
                </td>     
            </tr>
            <tr>
            <td height="10"></td>
            </tr>
            <tr>
              <td>
                <%= url %>
              </td>     
            </tr>
            <tr>
              <td height="20"></td>
            </tr>
            <tr>
              <td>Regards,</td>   
            </tr>
            <tr>
              <td>Akupay Team</td>   
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" style="border-bottom: 1px solid #EEE; text-align: center; background: #EEE; min-height: 100px;">
            <tbody>
                <tr>
                  <td>
                    You are receiving this email because you registered using akupay sos app
                  </td>
                </tr>
            </tbody>
          </table>
        </td>
      </tr>
  </tbody>
</table>